<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Winedunk</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/default-404.jsp</location>
  </error-page>
  <error-page>
    <location>/default-500.jsp</location>
  </error-page>
</web-app>